#nuget
#packages/

#Junk Files
*.DS_Store
[Tt]humbs.db

TestResults/

#IIS Express config
.vs/

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.mdf
*.ldf
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.dbmdl
*.Publish.xml
*.pubxml
*.build.csdef
csx/
packages/
Downloaded Profiling Logs/
.sass-cache/
.vs/

# Microsoft Fakes
FakesAssemblies/

#SF Package
pkg/

#ruby
.sass-cache/

#node
node_modules
dist
uploads
src/web/CRA.Web/public/downloads
src/web/CRA.Web/public/lib/*
src/web/CRA.Web/e2e/downloads/*
!src/web/CRA.Landing/bin
!src/web/CRA.Web/public/sweetalert/dist


#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad
.idea/
.sonarqube/
.sonarlint/
.scannerwork/
Coverage/
coverage.xml
.vscode/
.azure/
.fleet/

#Other
.svn
~*.~*

#Azure Caching
!ClientPerfCountersInstaller.exe

!/.nuget/*.exe

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
AIF.Web.UI/Properties/PublishProfiles/AIF Site - Production.pubxml
/AIF.Database/AIF.Database.jfm
coverage.json